<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Portada</title>
</head>
<body>
    <style>
        div {
  text-align: center;
}
    </style>
    <div> 
        <h1 style="color:blue">Instituto Tecnológico Superior de la Sierra Norte de Puebla</h1>
        <h2>Ingniería Informática</h2>
        <h3>Daniel Hernández Manzano</h3>
        <h3>Desarrollo Web Avanzado</h3>
        <h3>M.S.C. Adolfo Luna Sánchez</h3>
        <h3>Octavo Semestre</h3>
        <h3>20 de Mayo 2021</h3>
           <h3>A4.3 Portada con Spring Boot</h3>
    </div>
</body>
</html>
